<!-- Register a New User, or Edit User Profile -->
<div id="register-form" class='container'>
  <br>
<%= form_for @user do |f| %>
  <!-- If there are Errors -->
  <% if @user && @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Register a New User -->
  <div class="row" >
    <div class="small-6 columns">
      <p></p>
    </div>
      <div class="small-6 columns">
      <% if current_user %>
        <p>Edit Here!</p>
      <% else %>
        <p>Sign Up Here!</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <p></p>
    </div>
    <div class="small-3 columns">
      <%= f.label :first_name %><%= f.text_field :first_name %>
    </div>
    <div class="small-3 columns">
      <%= f.label :last_name %><%= f.text_field :last_name %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <p></p>
    </div>
    <div class="small-3 columns">
      <%= f.label :email %><%= f.text_field :email %>
    </div>
    <div class="small-3 columns">
      <%= f.label :password %><%= f.password_field :password %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <p></p>
    </div>
    <div class="small-3 columns">
      <p></p>
    </div>
    <div class="small-3 columns">
        <%= f.submit class: 'button tiny radius' %>
    </div>
  </div>
<% end  %>
</div>
