<div class='container'>
  <h3>Product Show Page</h3>

  <table>
    <thead>
      <tr>
        <th class='small-2 '>Title</th>
        <th class='small-4 '>Description</th>
        <th class='small-1 '>Image Url</th>
        <th class='small-1 '>Price</th>
        <th class='small-1 '>Quantity</th>
        <% if current_user.admin? %>
          <th class='small-1 '>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @product.title %></td>
        <td><%= @product.description %></td>
        <td><%= image_tag(@product.image_url) %></td>
        <td><%= number_to_currency(@product.price) %></td>
        <td><%= @product.quantity %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_product_path(@product) %> <%= link_to 'Delete', product_path(@product) %></td>
        <%end %>
      </tr>
    </tbody>
  </table>
</div>
