<%= form_for(@line_product) do |f| %>
  <% if @line_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_product.errors.count, "error") %> prohibited this line_product from being saved:</h2>

      <ul>
      <% @line_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :cart_id %><br>
    <%= f.text_field :cart_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
