<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @line_product.product %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_product.cart %>
</p>

<%= link_to 'Edit', edit_line_product_path(@line_product) %> |
<%= link_to 'Back', line_products_path %>
