<!-- A user can register, login, logout -->
<% if current_user %>
  <div class="row">
    <div class="small-6 columns"><h2>Merriweather's Winter Poster Shop</h2>
    </div>
    <div class="small-6 columns"><p></p>
      <ul class="inline-list">
        <li><%#= link_to 'Home', redirect "/" %></li>
        <% if current_user.admin? %>
          <li><%= link_to 'List Inventory', products_path %></li>
          <li><%= link_to 'Add Inventory', new_product_path %></li>
          <li><%= link_to 'List Users', users_path %></li>
        <% else %>
          <li><%= link_to 'Home', root_path %></li>
          <% if session[:cart_id] %>
            <li><%= link_to "Your Cart", cart_path(session[:cart_id]) %></li>
          <% end %>
        <% end %>  
        <li><%= link_to 'Log Out', session_path(current_user.id), method: :delete %></li>
      </ul>
    </div>
  </div>
<% else %>
  <!-- Login -->
  <%= render '/sessions/new' %>

  <!-- Link to Register -->
  <div class="row">
    <div class="small-9 columns"><p></p></div>
    <div class="small-1 columns"><p></p></div>
    <div class="small-2 columns" id="register-button">
      <%= link_to 'Sign Up!', new_user_path, class: 'button tiny radius' %></div>
  </div>
  <div class="row">
  <div class="small-6 columns">
  </div>
  <div class="small-6 columns"><p></p>
    <ul class="inline-list">
      <li><%= link_to 'Home', root_path %></li>
      <% if session[:cart_id] %>
        <li><%= link_to "Your Cart", cart_path(session[:cart_id]) %></li>
      <% end %>    
<% end %>
