<div>
<table role='grid' align='center'>
  <thead>
    <caption>User List</caption>
    <tr>
      <th class='small-3 large-3'>First name</th>
      <th class='small-3 large-3'>Last name</th>
      <th class='small-3 large-3'>Email</th>
      <th class='small-3 large-3'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%=user.first_name %></td>
      <td><%=user.last_name %></td>
      <td><%=user.email %></td>

      <td><%= link_to 'Show', user %>
      <% if current_user.admin? %>
        <%= link_to 'Edit', edit_user_path(user) %> <%= link_to 'Delete', user_path(user), method: :delete %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

